.card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  /* height: 75%; */
  /* width: 100%; */
  align-items: center;
  /* overflow: hidden; */
  text-align: center;
  border-radius: "2px solid  #59B4C3"
}
.card > .img-container > img {
  /* width: 40% */
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.projectbtn {
  background-color : rgb(238, 238, 238);
  padding : "5px"
}


.custom-btn {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #212529;
  padding: 0.8rem 6rem;
  font-family: roboto-medium;
  transition: all 0.25s ease;
}

.custom-btn:hover {
  background-color: #212529;
  color: #f8f9fa;
  transform: translateY(-2px);
}