.card {
  padding: 50;
  border: transparent !important;
  background-color: black; 
}
.homecard {
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center; 
  /* font-family: "allura-regular"; */
  background-color:#f8f9fa; 
  /* background-image: url("../../images/unsplah.jpg"); */
  /* background-size: cover; */
  background-position: center; 
  background-repeat: no-repeat; 
}

.tile {
  color : "#212529";
}


.homecard-row {
  font-family: "roboto-regular-italic";
  font-size: "20px";
  /* padding: "10px"; */
  /* padding-top: "30px"; */
  /* padding-bottom: "30px"; */
}

/* Remove padding for screens smaller than 768px */
@media (max-width: 767px) {
  .homecard-row {
    padding-left: 4px;
    padding-right: 4px;
  }
}
