.form {
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.submitBtn {
  color : 212529;
}



 

.download-button:hover {
  background-color: #474787 !important;
  color: 212529 !important;
   transition: background-color 0.3s, color 0.3s; 
}

