/* style.css */
.navbar-nav {
  justify-content: right;
  flex-grow: 1;
  width: vw;
  background-color:#f8f9fa; 
  color: #212529;
  font-size: 20px;
  padding:5px;

}
.custom-toggler {
  border: 2px solid #f8f9fa !important;
}
.custom-toggler:focus {   
   border-color: #f8f9fa !important;    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}

.navbarmain {
  /* width: full; */
  /* padding: 24px; */
  height: 20%;
  background-color:#f8f9fa; 
  color: #212529;  
  text-decoration: none;
  text-underline-offset: 4px;
}

.nav-link {
  /* padding: 100px; */
  font-size: 400px;
  text-decoration: none !important;
  color: #212529;
}

.navbarmain a {
  text-decoration: none;        
  color: #212529;
}

.navbarmain a:hover {
  text-decoration: underline;    
  text-underline-offset: 4px;     
}
.nav-link:hover {
  text-decoration: underline !important;
  text-underline-offset: 4px;
}
.custom-nav-link.active {
  text-decoration: underline;
  text-underline-offset: 4px;
  /* font-weight: 600; */
}