* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;

}
:root {
  --red:#64002f; 
  --212529 : rgb(238, 238, 238); 
}
.namdhinggo-regular {
  font-family: "Namdhinggo", serif;
  font-weight: 400;
  font-style: normal;
}

.namdhinggo-medium {
  font-family: "Namdhinggo", serif;
  font-weight: 500;
  font-style: normal;
}

.namdhinggo-semibold {
  font-family: "Namdhinggo", serif;
  font-weight: 600;
  font-style: normal;
}

.namdhinggo-bold {
  font-family: "Namdhinggo", serif;
  font-weight: 700;
  font-style: normal;
}

.namdhinggo-extrabold {
  font-family: "Namdhinggo", serif;
  font-weight: 800;
  font-style: normal;
}
.charm-regular {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}
.allura-regular {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
a {
  text-decoration: none;
}


.homecard {
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgb(238, 238, 238); 
  /* background-image: url("./images/unsplah.jpg"); */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.projectbackgrnd{
  /* background-color: #474787; */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.about {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  /* background-color: #AAABB8; */
  color:  #212529;
}

/* .skillsbutton{
  background-color : "#ECECEC";
   color : "#212529";
    padding : "2px";
     border : "5px solid #ECECEC" ;
     border-radius: "10px";
     margin : "30px";
} */
.skillbtn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .skillbtn {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2px;
  }
}
@media (max-width: 768px) {
  .slbtn {
    /* background-color: "#212529"; */
    /* font-family: "roboto-black-italic", */
    /* color: "#ECECEC", */
    padding-left: "0px";
    padding-right: "0px";
    margin: "2px";
    /* border: "1px solid #AAABB8", */
    border-radius: "2px";
    font-size: "5px";
    flex-direction : "row";
    justify-content : "start"

  }
}

.footeri {
  justify-content: start;
}

@media (max-width : 768px){
  .footeri {
    justify-content: center;
  }
}

@media (max-width : 768px){
  .projectcard {
    display: inline;
    justify-content: center;
  }
}
@media (max-width : 768px){
  .linkicon{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0%; */
    /* margin: 0%;   */
    font-size: 0.5rem;
  }
}

.linkicon {
  display: flex;
  justify-content: center;

  align-items: center;
}